.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  float: left;
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(61, 61, 61);
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -24px;
  margin-left: 5px;
}

.Weather a {
  text-decoration: none;
}
